@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Popins', Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: #rgba(0, 0, 0, .2);
}

html{
    font-size: 62%; 
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    /* background-image: url(../img/bg-texture.png); */
}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 1400px;
}


.header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 2rem 7%; 
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticly{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.header.sticly #darkMode-icone{
    color: var(--text-color);
    opacity: .9;
}

.logo {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}



.navbar a{
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
    margin-right: 2.5rem;
    font-style: bold;
}

.header.sticly .navbar a{
    color: var(--text-color);
}

.header.sticly .navbar a.active{
   color: var(--main-color);
}

/* .navbar a span {
    color: var(--main-color);
} */

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.active span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

#darkMode-icone{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

/* .home{
display: grid;
grid-template-columns: 1fr 1fr;
} */

.home .home_content{
    max-width: 44rem;
}

.home_content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 0.3;
   }

.home_content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home_content p{
    font-size: 1.6rem;
}
.home_content .social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2 .5 var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home_content .social_media a:hover{
background: var(--main-color);
color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2 .5 var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: .2rem solid transparent;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border: .2rem solid var(--main-color);
}

.home .profession_conteiner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession_conteiner .profession_box {
    position: absolute;
    right: 0;
    top: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home .profession_box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4*var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession_box .profession:nth-child(1){
    margin-right: 15px;
}
.home .profession_box .profession:nth-child(2),
.home .profession_box .profession:nth-child(3){
    padding-bottom: 20px;
}

.home .profession i{
    font-size: 3.8rem;
}

.home .profession h3{
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession_box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession_conteiner .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home_img{
    width: 30%;
    height: 83%;
    /* background: red; */
    position: absolute;
    bottom: -1.2rem;
    right: 0;
}
.home_img img {
    position: absolute;
    bottom: 0px;
    right: 0;
        pointer-events: none;
    object-fit: contain;
    max-width: 500px;
    filter: drop-shadow(2px 4px 6px rgba(198, 197, 197, 0.864));
   
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about_img{
    
    width: 40vw;
   
}

.about_img img{
  object-fit: contain;
  max-width: 30vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}
.about_content h2 {
text-align: left;
line-height: 1.2;
}

.about_content h3{
    font-size: 2rem;
}

.about_content p{
    font-size: 1.6rem;
    margin: 2rem;
}

/* .service_conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
} */

.service{
    min-height: auto;
    padding-bottom: 7rem;
}

.service h2{
    margin-bottom: 5rem;
}

.service .service_conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.service_conteiner .service_box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 4rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1 .5 var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.service_conteiner .service_box:hover{
box-shadow: 0 .1rem 2rem var(--shadow-color);
transform: scale(1.02);
}

.service_box h3{
    font-size: 2.6rem;
}

.service_box{
    min-height:fit-content;
}

.service_box p{
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.service_box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service_box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio_conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio_conteiner .portfolio_box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0 , .1);
    overflow: hidden;
}

.portfolio_box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio_box:hover img{
    transform: scale(1.1);
}

.portfolio_box .potfolio_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    justify-content: center;
    opacity: 0;
    transition: .5s ease;
}

.portfolio_box:hover .potfolio_layer{
    opacity: 1;
}

.potfolio_layer h4{
    font-size: 4rem;
}

.potfolio_layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.potfolio_layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--bg-color);
    border-radius: 50%;
}

.potfolio_layer a i{
    font-size: 2rem;
    color: #333;
}

.testimonial-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-conteiner .testimonial-wrapper{
    position: relative;
    min-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0rem .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p{
    font-size: 1.4rem;
    text-align: center;
}



